$sidenav-width: 125px;
$header-height: 125px;

$primary-color:#010101;
$secondary-color:#798EA4;
$accent-color:#3870CF;

$sidebar-bg-color:#FAFAFA;
$wrapper-bg-color:#F4F5F7;

$active-font-color:#1E2E3E;
$active-bg-color:#1E2E3E;
$active-border-color:#3870CF;

$logo-color:#1E2E3E;

$border-radius:10px;
$border-circle:50%;

$white:#FFFFFF;